:root {
    --text-color: #433e3f;
    --text-light: #585355;
    --main-bg: #F5F5F5;
    --cream-light: #F2EAD3;
    --cream: #DFD7BF;
    --brown: #3F2305;
    --brown-light: #52391e;
    --blue: #05213f;
    --red: #EF3E36;
    --red-dark: #d73831;
    --green: #08670a;
    --green-light: #217623;
    --purple: #750973;
}

body {
    background-color: var(--main-bg);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: var(--text-color);
}

.container {
    width: 800px;
    margin: auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 575px;
    margin-bottom: 35px;
}

h1 {
    font-family: 'Orelega One', serif;
    color: var(--brown);
    font-size: 56px;
    text-align: center;
    margin-bottom: 0rem;
}

h2 {
    font-family: 'Orelega One', serif;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    color: var(--text-color);
    margin-top: 0rem;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5rem 0.7rem 0.2rem 0.7rem; /* spacing is so weird with this font */
    border: none;
    border: 3px solid var(--brown);
    color: var(--brown);
    border-radius: 8px;
    font-size: 14px;
}
button:hover {
    background-color: var(--brown);
    cursor: pointer;
    color: var(--main-bg)
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.result p {
    margin: 2px;
}

#coffee-count {
    font-family: 'Orelega One', serif;
    color: var(--brown);
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: 25px;
    width: 240px;
    margin: 10px auto;
}

#cost-display {
    color: var(--green);
}

#subscriptions {
    width: 400px;
}

#subscription-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid var(--text-light);
    padding-bottom: 0.5rem;
}
#subscription-header p {
    margin: 3px 0px;
}

.no-subs-text {
    color: var(--text-light);
    font-style: italic;
    font-size: 16px;
    text-align: center;
}

.sub-item-container:nth-child(odd)  {
    background-color: white;
}
.sub-item-container {
    overflow-x:hidden;
    position: relative;
}

.sub-item {
    width: 350px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: auto;
}

.del-sub-button {
    background-color: var(--red);
    color: var(--main-bg);
    border: none;
    height: 100%;
    width: 40px;
    border-radius: 0px;
    position: absolute;
    right: -40px;
    top: 0px;
}
.del-sub-button:hover {
    background-color: var(--red-dark);
}

#add-sub-form * {
    margin: 5px 0px;
}

#add-sub-form button {
    height: 38px;
    margin-top: 4px;
    padding-top: 0px;
    background-color: var(--green);
    color: #fff;
    border: none;
}
#add-sub-form button:hover {
    background-color: var(--green-light);
}

input {
    border: 1px solid var(--brown);
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 0px 6px 1em;
    padding-left: 1em;
    font-size: 16px;
}
input:focus {
    outline: none;
    border: 2px solid var(--brown);
}

#subPrice {
    width: 55px;
}
#subName {
    width: 200px;
}

.ui-autocomplete {
    background-color: white;
    font-size: 16px;
    list-style: none;
    width: 125px;
    border: 2px solid var(--brown);
    border-radius: 5px;
    padding: 0px;
}
.ui-autocomplete li {
    padding: 10px 0px 8px 25px;
}
.ui-autocomplete li:hover {
    cursor: pointer;
    background-color: lightgrey;
}
.ui-helper-hidden-accessible { display:none; }

.error {
    border: 2px solid var(--red);
}

.footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-size: 14px;
    color: var(--text-light);
    margin-bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
}
.footer a {
    font-style: italic;
    color: inherit;
}